div.awesome { 
  background: url(../grow-beard.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,h2,h3 {font-family: 'Open Sans', sans-serif; font-weight:800;}
h1 span {font-family: 'Open Sans', sans-serif; font-weight:400;font-style:italic;}

h4,h5,h6 {font-family: 'Open Sans', sans-serif; font-weight:400;} 

div.awesome { 
height:900px;
}

div.awesome h1 { 
color:white;
text-align: center;
font-size:9em;
}

div.awesome h1 span { 
font-size:48px;
}

div.words-xs {}
div.words-sm {}
div.words-md {}
div.words-lg {}

div.still-awesome { 
height:500px;
}