<div class="row">
	<div class="page-header color-black col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<h1 class="ahhh" style="padding-top:20px;">The Mission<br><span class="kern">a symphony of whiskers &amp; the Word of GOD</span></h1>
	</div> 
</div>

<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="row">
			<div class="col-sm-12 col-lg-12">
<img src="images/spurgeon_chair.jpg" class="img-responsive img-thumbnail"/>
<blockquote>It is not how much [<i>beard</i>] we have, but how much [<i>beard</i>] we enjoy, that makes happiness. - Charles Spurgeon</blockquote>
			</div>
		</div><!-- /INNER ROW-FLUID-->
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="row">
			<div class="col-sm-12 col-lg-12">
					<p class="lead">Our Pastor shares many of the core attributes of the many Gospel Men that have come before us. Their love of the Gospel; their desire that the world might know Jesus; and their untiring investment in other's lives. We found one more attribute we want Austin Gardner to share with these men, and you can help.</p>
			</div>
		</div><!-- /INNER ROW-FLUID-->
	</div><!-- SPAN6-->
</div>