<div class="row">
	<div class="page-header color-black col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<h1 class="ahhh" style="padding-top:20px;">The Moment<br><span class="kern">"Movember" or November for Whisker Laity</span></h1>
	</div> 
</div>

<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="row">
			<div class="col-sm-12 col-lg-12">
<img src="images/movember.jpg" class="img-responsive img-thumbnail"/>
			</div>
		</div><!-- /INNER ROW-FLUID-->
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="row">
			<div class="col-sm-12 col-lg-12">
					<p class="lead">That most virile of seasons is once again upon us. It is time for Movember. As a way to celebrate such an occasion Vision Baptist Church has fused two things we love a great deal. World Evangelism with the Gospel and facial hair. Whiskers for the world begins 1 November at the stroke of midnight and ends promptly 30 November at 11:59:59 pm ET.</p>
			</div>
		</div><!-- /INNER ROW-FLUID-->
	</div><!-- SPAN6-->
</div>