<div class="row">
	<div class="page-header color-black col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<h1 class="ahhh" style="padding-top:20px;">The Moment<br><span class="kern">No-Shave November</span></h1>
	</div> 
</div>

<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="row">
			<div class="col-sm-12 col-lg-12">
<img src="images/movember.jpg" class="img-responsive img-thumbnail"/>
<blockquote>Did you hear what I said? He shaves <b>EVERY</b> morning</blockquote>
			</div>
		</div><!-- /INNER ROW-FLUID-->
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="row">
			<div class="col-sm-12 col-lg-12">
					<p class="lead">As a way to celebrate No-Shave November @ Vision Baptist Church this year we have fused two things we love a great deal: World Evangelism and facial hair. Whiskers for the world begins 1 November at the stroke of midnight and ends promptly 30 November at 11:59:59 pm ET.</p>
					<p class="lead">Whiskers for the world is a pledge drive for one man (see above) to perform one task (not shave for 30 days) in exchange for a daily pledge amount by you. Every day he does not shave you are committing funds towards World Evangelism.</p>
			</div>
		</div><!-- /INNER ROW-FLUID-->
	</div><!-- SPAN6-->
</div>
