  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#top-section">Whiskers for the World</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#Man">The Man</a></li>
		<li><a href="#Moment">The Moment</a></li>
		<li><a href="#Mission">The Mission</a></li>
		<li><a href="#Motivation">The Motivation</a></li> 
		<li><a href="#Mug">The Mug</a></li> 
	</ul>
</div><!-- /.navbar-collapse -->